{% extends 'base_security.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}


    <nav class="navbar navbar-expand-lg  blur blur-rounded top-0  z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid">
        <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="https://edgebox.io" target="_blank">
            <img src="/assets/img/crest.png" class="navbar-brand-img h-100" alt="..." style="width: 6%;">
            <span class="ms-1 font-weight-bold">Edgebox</span>
        </a>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav mx-auto">
            </ul>
            <ul class="navbar-nav d-lg-block d-none">
            <li class="nav-item">
                <a href="https://edgebox.io/product" target="_blank" class="btn btn-sm btn-round mb-0 me-1 bg-gradient-dark">+ info</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <section>
    <div class="page-header section-height-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-8">
              <div class="card-header pb-0 text-left bg-transparent">
                <h3 class="font-weight-bolder text-dark text-gradient">Let's get you started!</h3>
                <p class="mb-0">Before accessing the dashboard, you must secure it first. Choose a user / password combination to continue.</p>
              </div>
              <div class="card-body">
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert"><span class="alert-text" style="color: white;">{{ flashError }}</span></div>
                {% endfor %}
                
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {# {{ form_row(registrationForm.agreeTerms) }} #}
                    <div class="text-center">
                        <button type="submit" class="btn bg-gradient-dark w-100 mt-4 mb-0">Go to Dashboard</button>
                    </div>
                {{ form_end(registrationForm) }}

              </div>
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                {# Something can go here... #}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
              <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('../assets/img/curved-images/curved6.jpg')"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

{% endblock %}
